*.hex
*.lst
*.log

PSoC/Display Driver/Display Driver.cydsn/Generated_Source/
PSoC/Display Driver/Display Driver.cydsn/codegentemp
PSoC/Display Driver/Display Driver.cydsn/CortexM3
PSoC/Display Driver/Display Driver.cydsn/BUILD.log
PSoC/Display Driver/Display Driver.cydsn/Display Driver.rpt
# Created by https://www.gitignore.io/api/psoccreator

### PSoCCreator ###
# Project Settings
*.cywrk.*
*.cyprj.*

# Generated Assets and Resources
Debug/
Release/
Export/
*/codegentemp
*/Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd


# End of https://www.gitignore.io/api/psoccreator
